HOST: http://navigator.fit.cvut.cz/

--- CVUT Navigator ---
---
Specifikace API pro ČVUT Navigátor
---
--
Authorizace
--
Authorizace klienta k používání API. Používá se protokol OAuth2.
POST /authorize
> Content-Type: application/json; charset=utf-8
{
    "user": "johndoe",
    "password": "12345"
}
< 200
< Content-Type: application/json; charset=utf-8
{
    "access_token":"2YotnFZFEjr1zCsicMWpAA",
    "token_type":"example",
    "expires_in":3600,
    "refresh_token":"tGzv3JOkF0XG5Qx2TlKWIA"
}
+++++
< 401
< Content-Type: application/json; charset=utf-8
{
    "exception":{
      "message": "invalid_client"
    }
}




Žádost o vygenerování nového access tokenu na základě refresh tokenu.
POST /refreshToken
> Content-Type: application/json; charset=utf-8
{
    "refresh_token":"tGzv3JOkF0XG5Qx2TlKWIA"
}
< 200
< Content-Type: application/json; charset=utf-8
{
    "access_token":"2YotnFZFEjr1zCsicMWpBBB",
    "token_type":"example",
    "expires_in":3600,
    "refresh_token":"tGzv3JOkF0XG5Qx2TlKWIA"
}
+++++
< 400


--
Info
--
Informace o aktuálním výukovém týdnu
GET /info
< 200
< Content-Type: application/json; charset=utf-8
{
    "week" : {"number" : 1, "parity": "even"}
}
+++++
< 401


Informaci o identifikovaném typu zařízení. Podle identifikovaného typu zařízení, budou poskytována pouze relevantní data pro toto zařízení.
GET /identify{?type}
< 200
< Content-Type: application/json; charset=utf-8
{
  "identifier" : "ios",
  "type" : "iOS"
}
+++++
< 400
+++++
< 401


--
Služby pracující s KOSem
Tato sekce služeb zprostředkovává data ze studentského informačního systému KOS
--
Informace o předmětu, kde {code} je kód předmětu
GET /kos/course/{code}
< 200
< Content-Type: application/json; charset=utf-8
{
    "id" : "1",
    "code" : "MI-BPR",
    "name" : "Bezpečnost a bezpečné programování",
    "web" : "https://edux.fit.cvut.cz/courses/MI-BPR/"
}
+++++
< 401
+++++
< 404


Informace o osobě, kde {username} je uživatelské jméno osoby.
GET /kos/person/{username}
< 200
< Content-Type: application/json; charset=utf-8
{
    "id" : "1",
    "username" : "peckazde",
    "name" : "Zdeněk Pecka",
    "email" : "peckazde@fit.cvut.cz",
    "type" : "student",
    "year" : "5"
}
+++++
< 401
+++++
< 404


Informace o rozvrhu osoby specifikovane {username}.
GET /kos/person/{username}/timetable
< 200
< Content-Type: application/json; charset=utf-8
{ 
  "timetableEntries": [
    {
      "id" : "1",
      "day": "monday",
      "parity" : "even",
      "time" : "11:00",
      "length" : "90",
      "type" : "lecture",
      "room" : {
        "id" : "2",
        "type" : "room",
        "name" : "KN:E-023",
        "floor": 1,
        "floorName": "KN:E-0**",
        "plan": 1,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076700",
          "longitude" : "14.417570"
         }
       },
      "course" : {
        "id" : "10",
        "code" : "MI-BPR",
        "name" : "Bezpečnost a bezpečné programování",
        "web" : "https://edux.fit.cvut.cz/courses/MI-BPR/"
      },
      "teacher" : {
        "id" : "10",
        "username" : "zahradni",
        "name" : "Ing. Tomáš Zahradnický, Ph.D.",
        "email" : "zahradni@fit.cvut.cz",
        "type" : "teacher"
      }
    },
    {
      "id" : "5",
      "day": "monday",
      "parity" : "both",
      "time" : "11:30",
      "length" : "90",
      "type" : "lecture",
      "room" : {
        "id" : "5",
        "type" : "room",
        "name" : "KN:E-512",
        "floor": 1,
        "floorName": "KN:E-5**",
        "plan": 1,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076912",
          "longitude" : "14.418286"
         }
       },
      "course" : {
        "id" : "13",
        "code" : "BI-ZMA",
        "name" : "Základy matematické analýzy",
        "web" : "https://edux.fit.cvut.cz/courses/BI-ZMA/"
      },
      "teacher" : {
        "id" : "13",
        "username" : "cizekadam",
        "name" : "Ing. Adam Čižek",
        "email" : "cizek@fit.cvut.cz",
        "type" : "teacher",
        "roomName": "A-930"
      }
    },
    {
      "id" : "4",
      "day": "wednesday",
      "parity" : "even",
      "time" : "11:00",
      "length" : "90",
      "type" : "practice",
      "room" : {
        "id" : "4",
        "type" : "room",
        "name" : "KN:E-126",
        "floor": 1,
        "floorName": "KN:E-1**",
        "plan": 1,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076715",
          "longitude" : "14.417810"
         }
      },
      "course" : {
        "id" : "13",
        "code" : "BI-ZMA",
        "name" : "Základy matematické analýzy",
        "web" : "https://edux.fit.cvut.cz/courses/BI-ZMA/"
      },
      "teacher" : {
        "id" : "13",
        "username" : "cizekadam",
        "name" : "Ing. Adam Čižek",
        "email" : "cizek@fit.cvut.cz",
        "type" : "teacher",
        "roomName": "A-930"
      }
    },
    {
      "id" : "2",
      "day": "tuesday",
      "parity" : "both",
      "time" : "12:45",
      "length" : "90",
      "type" : "practice",
      "room" : {
        "id" : "5",
        "type" : "room",
        "name" : "KN:E-512",
        "floor": 1,
        "floorName": "KN:E-5**",
        "plan": 1,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076912",
          "longitude" : "14.418286"
         }
       },
      "course" : {
        "id" : "11",
        "code" : "BI-IOS",
        "name" : "Základy programování v iOS",
        "web" : "https://edux.fit.cvut.cz/courses/BI-IOS/"
      },
      "teacher" : {
        "id" : "11",
        "username" : "gattejos",
        "name" : "Ing. Josef Gattermayer",
        "email" : "gattejos@fit.cvut.cz",
        "type" : "teacher",
        "nodeID": 1
      }
    },
    {
      "id" : "3",
      "date": "2013-06-26",
      "type" : "event",
      "time" : "12:00",
      "length" : "130",
      "eventName" : "BI-PA2 Zkouška",
      "eventDetail": "3. Termín",
      "room" : {
        "id" : "3",
        "type" : "room",
        "name" : "KN:E-024",
        "floor": 1,
        "floorName": "KN:E-0**",
        "plan": 1,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076685",
          "longitude" : "14.417418"
         }
       },
      "course" : {
        "id" : "12",
        "code" : "BI-PA2",
        "name" : "Programování a algoritmizace 2",
        "web" : "https://edux.fit.cvut.cz/courses/BI-PA2/"
      },
      "teacher" : {
        "id" : "12",
        "username" : "xvagner",
        "name" : "Ing. Ladislav Vágner",
        "email" : "xvagner@fit.cvut.cz",
        "type" : "teacher",
        "nodeID": 2
      }
    }
  ]
}
+++++
< 401
< Content-Type: application/json; charset=utf-8
{ 
  "exception": {
    "message": "unauthorized_client"
  }
}
+++++
< 404


Informace o predmetech, ktere ma uzivatel {username} zapsane na aktualni semestr.
GET /kos/person/{username}/courses
< 200
< Content-Type: application/json; charset=utf-8
{ 
  "courses": [
    {
        "id" : "1",
        "code" : "MI-BPR",
        "name" : "Bezpečnost a bezpečné programování",
        "web" : "https://edux.fit.cvut.cz/courses/MI-BPR/"
    },
    {
        "id" : "2",
        "code" : "MI-PAR",
        "name" : "Paralelní algoritmy a systémy",
        "web" : "https://edux.fit.cvut.cz/courses/MI-PAR/"
    }
  ]
}
+++++
< 401
+++++
< 404


--
Služby pracující s mapovými podklady
Tato sekce služeb zprostředkovává data, pro práci s mapovými podklady
--

Všechny POI pro zobrazení na mapě. 
GET /map/pois/
< 200
< Content-Type: application/json; charset=utf-8
{
"pois": [
  {
    "id" : 1,
    "name" : "FEL Karlovo náměstí",
    "type" : "building",
    "coordinates" : {
      "latitude" : "50.076866",
      "longitude" : "14.417839"
    },
    "plan" : "1",
    "address" : "Karlovo náměstí 13, 121 35 Praha 2"
  },
  { 
    "address" : "Thákurova 9, Praha 6",
    "coordinates" : { "latitude" : 50.105139678642999,
        "longitude" : 14.389620352393001
      },
    "id" : 3,
    "name" : "Nová budova",
    "plan" : 3,
    "type" : "building"
  }
]
}
+++++
< 401
+++++
< 404


POI pro zobrazení na mapě podle typu. Jednotlivé typy oddělené čárkou.
GET /map/pois/{types}
< 200
< Content-Type: application/json; charset=utf-8
{
"pois": [
  {
    "id" : 1,
    "name" : "FEL Karlovo náměstí",
    "type" : "building",
    "coordinates" : {
      "latitude" : "50.076866",
      "longitude" : "14.417839"
    },
    "plan" : "1",
    "address" : "Karlovo náměstí 13, 121 35 Praha 2"
  },
  { 
    "address" : "Thákurova 9, Praha 6",
    "coordinates" : { "latitude" : 50.105139678642999,
        "longitude" : 14.389620352393001
      },
    "id" : 3,
    "name" : "Nová budova",
    "plan" : 3,
    "type" : "building"
  }
]
}
+++++
< 401
+++++
< 404



Informace o POI.
GET /map/poi/1
< 200
< Content-Type: application/json; charset=utf-8
{
    "id" : 1,
    "name" : "FEL Karlovo náměstí",
    "type" : "building",
    "coordinates" : {
      "latitude" : "50.076866",
      "longitude" : "14.417839"
    },
    "plan" : "1",
    "address" : "Karlovo náměstí 13, 121 35 Praha 2"
}
+++++
< 401
+++++
< 404


Informace o POI.
GET /map/poi/3
< 200
< Content-Type: application/json; charset=utf-8
{ 
    "address" : "Thákurova 9, Praha 6",
    "coordinates" : { "latitude" : 50.105139678642999,
        "longitude" : 14.389620352393001
      },
    "id" : 3,
    "name" : "Nová budova",
    "plan" : 3,
    "type" : "building"
}
+++++
< 401
+++++
< 404




GET /map/poi/{id}
< 404
< Content-Type: application/json; charset=utf-8
{
  "exception":{
    "message": "POI not found"
  }
}



Informace o plánu budovy, včetně podrobných informací o všech jeho bodech.


GET /map/plan/2
< 200
< Content-Type: application/json; charset=utf-8
{
  "id" : "456",
  "name" : "FIT Dejvice",
  "tiles" : "http://navigator.cvut.cz/data/map/plan/456.zip",
  "maxZoom": 24,
  "minZoom": 20,
  "building": 1,
  "floors" : [
    {
      "floor" : "1",
      "floorName": "prvni patro",
      "constraints" : 
      {
        "southWest":
        {
          "latitude": 50.076534 ,
          "longitude": 14.417152
        },
        "northEast":
        {
          "latitude": 50.077194,
          "longitude": 14.418526
        }
      },
      "plan": 456,
      "nodes" : [
      {
        "id" : "123",
        "type" : "crossroad",
        "floor": 3,
        "floorName": "KN:E-0**",
        "plan": 456,
        "coordinates" : {
          "latitude" : "50.1231",
          "longitude" : "14.1231"
         },
        "marker" : {
            "id": 1,
            "angle": 0,
            "type": "floor"
        }
      },
      {
        "id" : "124",
        "type" : "stairs",
        "floor": 3,
        "floorName": "KN:E-0**",
        "plan": 456,
        "coordinates" : {
          "latitude" : "50.1231",
          "longitude" : "14.1231"
         },
        "toFloor" : "2",
        "marker" : {
            "id": 1,
            "angle": 0,
            "type": "floor"
        }
      },
      {
        "id" : "125",
        "type" : "entrance",
        "floor": 3,
        "floorName": "KN:E-0**",
        "plan": 456,
        "coordinates" : {
          "latitude" : "50.1231",
          "longitude" : "14.1231"
        },
        "marker" : {
            "id": 1,
            "angle": 0,
            "type": "floor"
        }
      },
      {
        "id" : "126",
        "type" : "room",
        "name" : "T9:155",
        "floor": 3,
        "floorName": "KN:E-0**",
        "plan": 456,
        "coordinates" : {
          "latitude" : "50.1231",
          "longitude" : "14.1231"
         },
         "marker" : {
            "id": 1,
            "angle": 0,
            "type": "floor"
        }
      } 
      ]
    }
  ]
}
+++++
< 401
+++++
< 404


FEL Karlovo náměstí
GET /map/plan/1
< 200
< Content-Type: application/json; charset=utf-8
{
  "id" : "1",
  "name" : "FEL Karlovo náměstí",
  "tiles" : "http://navigator.cvut.cz/data/map/plan/1.zip",
  "maxZoom": 24,
  "minZoom": 20,
  "building": 1,
  "floors" : [
    {
      "floor" : "1",
      "floorName": "prvni patro",
      "constraints" : 
      {
        "southWest":
        {
          "latitude": 50.076534 ,
          "longitude": 14.417152
        },
        "northEast":
        {
          "latitude": 50.077194,
          "longitude": 14.418526
        }
      },
      "plan": 1,
      "nodes" : [
      {
        "id" : "1",
        "type" : "room",
        "name" : "KN:E-022",
        "floor": 1,
        "floorName": "KN:E-0**",
        "plan": 1,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076708",
          "longitude" : "14.417670"
         }
      },
      {
        "id" : "2",
        "type" : "room",
        "name" : "KN:E-023",
        "floor": 1,
        "floorName": "KN:E-0**",
        "plan": 1,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076700",
          "longitude" : "14.417570"
         }
      },
      {
        "id" : "3",
        "type" : "room",
        "name" : "KN:E-024",
        "floor": 1,
        "floorName": "KN:E-0**",
        "plan": 1,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076685",
          "longitude" : "14.417418"
         },
         "marker": {
          "id": 7,
          "angle": -90,
          "type": "floor"
        }
      },
      {
        "id" : "4",
        "type" : "room",
        "name" : "KN:E-126",
        "floor": 1,
        "floorName": "KN:E-1**",
        "plan": 1,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076715",
          "longitude" : "14.417810"
         }
      },
      {
        "id" : "5",
        "type" : "room",
        "name" : "KN:E-512",
        "floor": 1,
        "floorName": "KN:E-5**",
        "plan": 1,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076912",
          "longitude" : "14.418286"
         },
         "marker": {
          "id": 6,
          "type": "floor",
          "angle":0
        }
      },
      {
        "id" : "6",
        "type" : "intersection",
        "floor": 1,
        "floorName": "KN:E-3**",
        "plan": 1,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076916",
          "longitude" : "14.418316"
         },
        "marker": {
          "id": 5,
          "type": "wall",
          "angle":90
        }
      },
      {
        "id" : "7",
        "type" : "intersection",
        "floor": 1,
        "floorName": "KN:E-3**",
        "plan": 1,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076862",
          "longitude" : "14.418317"
         },
        "marker": {
          "id": 4,
          "angle": -90,
          "type": "wall"
        }
      },
      {
        "id" : "8",
        "type" : "intersection",
        "floor": 1,
        "floorName": "KN:E-0**",
        "plan": 1,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076767",
          "longitude" : "14.418328"
         },
         "marker" : {
            "id": 3,
            "angle": 0,
            "type": "wall"
        }
      },
      {
        "id" : "9",
        "type" : "intersection",
        "floor": 1,
        "floorName": "KN:E-3**",
        "plan": 1,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076732",
          "longitude" : "14.417819"
        },
        "marker": {
          "id": 2,
          "angle": 180,
          "type": "floor"
        }
      },
      {
        "id" : "12",
        "type" : "stairs",
        "floor": 1,
        "floorName": "KN:E-3**",
        "plan": 1,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076748",
          "longitude" : "14.417819"
         }
      }
    ]
  },
  {
  "floor" : "0",
  "floorName": "prizemi",
  "constraints" : 
  {
    "southWest":
    {
      "latitude": 50.076534 ,
      "longitude": 14.417152
    },
    "northEast":
    {
      "latitude": 50.077194,
      "longitude": 14.418526
    }
  },
  "plan": 1,
  "nodes" : [
      {
        "id" : "10",
        "type" : "stairs",
        "plan": 1,
        "floor" : 0,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076748",
          "longitude" : "14.417807"
         },
         "marker": {
              "id": 1,
              "type": "wall",
              "angle":0
        }
      },
      {
        "id" : "11",
        "type" : "entrance",
        "plan": 1,
        "floor" : 0,
        "building": 1,
        "coordinates" : {
          "latitude" : "50.076641",
          "longitude" : "14.417818"
         },
      "marker": {
              "id": 0,
              "type": "floor",
              "angle":0
        }
      }
    ]
  },
  {
  "floor" : "2",
  "floorName": "druhe patro",
  "constraints" : 
  {
    "southWest":
    {
      "latitude": 50.076534 ,
      "longitude": 14.417152
    },
    "northEast":
    {
      "latitude": 50.077194,
      "longitude": 14.418526
    }
  },
  "plan": 1,
  "nodes" : []
  }
  ]
}
+++++
< 401
+++++
< 404


Nová budova čvut
GET /map/plan/3
< 200
< Content-Type: application/json; charset=utf-8
{ "address" : "Thákurova 9, Praha 6",
  "building" : 3,
  "coordinates" : { "latitude" : 50.105139678642999,
      "longitude" : 14.389620352393001
    },
  "floorNumber" : 7,
  "floors" : [ 
      { 
        "constraints" : 
        {
          "southWest":
              { 
                "latitude" : 50.104560987668002,
                "longitude" : 14.389085769653001
              },
          "northEast":
              {
                "latitude": 50.105496842493999,
                "longitude": 14.390459060669
              }
        },
        "floor" : 0,
        "floorName" : "Přízemí",
        "id" : 34,
        "maxZoom" : 22,
        "minZoom" : 18,
        "nodes" : [ { "building" : "3",
              "coordinates" : { "latitude" : 50.105311909396001,
                  "longitude" : 14.389597401023
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 677,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "lecture"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105028487285999,
                  "longitude" : 14.389604106545001
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 655,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104899463008003,
                  "longitude" : 14.389332532883
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 691,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105155790898998,
                  "longitude" : 14.389512911439001
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 681,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104921827241,
                  "longitude" : 14.389994367957
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 668,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.10512998614,
                  "longitude" : 14.390182122588
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 671,
              "name" : "T9:107",
              "room" : "T9:107",
              "toFloor" : null,
              "type" : "auditorium"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105043970175998,
                  "longitude" : 14.389194399118001
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 700,
              "name" : "Studijní FA - ",
              "room" : null,
              "toFloor" : null,
              "type" : "office"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105099803324997,
                  "longitude" : 14.389611337881
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 690,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105025476723,
                  "longitude" : 14.389860257505999
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 663,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104969136161003,
                  "longitude" : 14.389848858118
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 659,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105012574310003,
                  "longitude" : 14.38931375742
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 695,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "stairs"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105177166655999,
                  "longitude" : 14.389471109264999
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 685,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105355777311999,
                  "longitude" : 14.389787837863
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 675,
              "name" : "T9:105",
              "room" : "T9:105",
              "toFloor" : null,
              "type" : "auditorium"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105112352879999,
                  "longitude" : 14.38998028636
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 662,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105050027898997,
                  "longitude" : 14.389368182062
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 694,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105052619428001,
                  "longitude" : 14.389897767601999
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 667,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105168263194997,
                  "longitude" : 14.389372766018001
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 684,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "cloakroom"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105033782882998,
                  "longitude" : 14.389218348974
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 699,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105100310650002,
                  "longitude" : 14.389915242791
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 653,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "restroom-men"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105000962136003,
                  "longitude" : 14.38946262002
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 689,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105151516305,
                  "longitude" : 14.389768293136999
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 679,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105083352462998,
                  "longitude" : 14.389940335625999
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 666,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105003284570998,
                  "longitude" : 14.389623753725999
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 698,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104966555676,
                  "longitude" : 14.389128684997999
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 688,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105098850002001,
                  "longitude" : 14.390035531009
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 661,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104863336148,
                  "longitude" : 14.389338567853001
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 702,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "stairs"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.10512998614,
                  "longitude" : 14.389815330505
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 678,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "elevator"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105011714149001,
                  "longitude" : 14.390241801739
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 657,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104989547372,
                  "longitude" : 14.389158557550999
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 693,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105234065250002,
                  "longitude" : 14.389488101006
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 683,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "lecture"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105059022981003,
                  "longitude" : 14.390308186412
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 670,
              "name" : "T9:111",
              "room" : "T9:111",
              "toFloor" : null,
              "type" : "auditorium"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104956233732999,
                  "longitude" : 14.389577284454999
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 697,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "elevator"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105269331674997,
                  "longitude" : 14.389910548925
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 673,
              "name" : "T9:155",
              "room" : "T9:155",
              "toFloor" : null,
              "type" : "auditorium"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105080096899997,
                  "longitude" : 14.389280900358999
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 687,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105222453129002,
                  "longitude" : 14.389846175909
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 656,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104998003654998,
                  "longitude" : 14.389890372536
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 664,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104957954056999,
                  "longitude" : 14.389464631677001
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 696,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "cafeteria"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104896882519,
                  "longitude" : 14.390038624405999
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 669,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "stairs"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104880539417998,
                  "longitude" : 14.389362037182
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 701,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105299867215997,
                  "longitude" : 14.389712736011001
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 674,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104982038586002,
                  "longitude" : 14.389640316367
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 652,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "entrance"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105113238648997,
                  "longitude" : 14.390056142544999
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 660,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104969996323,
                  "longitude" : 14.389198422432001
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 692,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105197508563997,
                  "longitude" : 14.389431104064
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 682,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105081402997001,
                  "longitude" : 14.390114367741999
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 672,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105064183941003,
                  "longitude" : 14.389314427972
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 686,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105339434367004,
                  "longitude" : 14.389636963606
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 676,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105075796100998,
                  "longitude" : 14.389864280819999
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 654,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "restroom-women"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105180735486996,
                  "longitude" : 14.389713406563001
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 680,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "stairs"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105071703119002,
                  "longitude" : 14.389660781602
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 658,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105035368571002,
                  "longitude" : 14.389907866715999
                },
              "floor" : "0",
              "fromFloor" : null,
              "id" : 665,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "stairs"
            }
          ],
        "tiles" : "https://navigator.fit.cvut.cz/maps/data/tiles/1/2"
      },
      { "constraints" : 
        {
          "southWest":
              { 
                "latitude" : 50.104560987668002,
                "longitude" : 14.389085769653001
              },
          "northEast":
              {
                "latitude": 50.105496842493999,
                "longitude": 14.390459060669
              }
        },
        "floor" : 1,
        "floorName" : "2",
        "id" : 35,
        "maxZoom" : 22,
        "minZoom" : 18,
        "nodes" : [ { "building" : "3",
              "coordinates" : { "latitude" : 50.105175122024001,
                  "longitude" : 14.389779786469999
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 724,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105222023050999,
                  "longitude" : 14.389847517013999
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 717,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105322661339997,
                  "longitude" : 14.389655739068999
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 716,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105038809212999,
                  "longitude" : 14.390184134245001
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 723,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105146329156,
                  "longitude" : 14.389832764864
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 726,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "elevator"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104992360522999,
                  "longitude" : 14.389213845134
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 719,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104926988217002,
                  "longitude" : 14.390029236674
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 722,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105197508563997,
                  "longitude" : 14.389730840921001
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 725,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "stairs"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104892581704,
                  "longitude" : 14.389388859272
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 718,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105117311199997,
                  "longitude" : 14.389679475825
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 721,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105212500694002,
                  "longitude" : 14.389501489913
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 720,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105033603370003,
                  "longitude" : 14.389833324173001
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 713,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105146319310997,
                  "longitude" : 14.389987032765999
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 711,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105113643118997,
                  "longitude" : 14.389982968569001
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 707,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "stairs"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104890001214002,
                  "longitude" : 14.389164224267001
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 705,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "passage"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105135034023,
                  "longitude" : 14.390007578094
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 706,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105096009853,
                  "longitude" : 14.389758333564
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 715,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "stairs"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105123534948,
                  "longitude" : 14.389958158135
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 710,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "restroom-men"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104862475984,
                  "longitude" : 14.389351978898
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 709,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "stairs"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104896882519,
                  "longitude" : 14.390082210301999
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 708,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "stairs"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104964591654998,
                  "longitude" : 14.389262420349
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 704,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105089652817,
                  "longitude" : 14.389730345549999
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 714,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105011714149001,
                  "longitude" : 14.389323145151
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 703,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "stairs"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105068484740997,
                  "longitude" : 14.38988506794
                },
              "floor" : "1",
              "fromFloor" : null,
              "id" : 712,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "restroom-women"
            }
          ],
        "tiles" : "https://navigator.fit.cvut.cz/maps/data/tiles/1/3"
      },
      {
      "constraints" : 
        {
          "southWest":
              { 
                "latitude" : 50.104560987668002,
                "longitude" : 14.389085769653001
              },
          "northEast":
              {
                "latitude": 50.105496842493999,
                "longitude": 14.390459060669
              }
        },
        "floor" : 2,
        "floorName" : "3",
        "id" : 21,
        "maxZoom" : 22,
        "minZoom" : 18,
        "nodes" : [ { "building" : "3",
              "coordinates" : { "latitude" : 50.105231054701001,
                  "longitude" : 14.389826059341001
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 37,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104905914230002,
                  "longitude" : 14.389384165406
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 38,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105000962136003,
                  "longitude" : 14.389201104641
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 39,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105326962116997,
                  "longitude" : 14.389647021889999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 40,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105038809212999,
                  "longitude" : 14.390186145902
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 41,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104927848378999,
                  "longitude" : 14.390036612749
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 42,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105124520974996,
                  "longitude" : 14.389685065715
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 43,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105221172387999,
                  "longitude" : 14.389502213867001
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 44,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105096763147003,
                  "longitude" : 14.389734762864
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 48,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105100310650002,
                  "longitude" : 14.38976302743
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 49,
              "name" : null,
              "room" : null,
              "toFloor" : 4,
              "type" : "stairs"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105037433035001,
                  "longitude" : 14.389840736689999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 50,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105099020410997,
                  "longitude" : 14.389921277760999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 51,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "study"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105146528836002,
                  "longitude" : 14.389985965944
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 52,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105182025723998,
                  "longitude" : 14.38952229917
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 60,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "restroom-men"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105199722389997,
                  "longitude" : 14.389543109019
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 61,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105169546102999,
                  "longitude" : 14.389600133168001
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 63,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104877528846004,
                  "longitude" : 14.389349296689
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 64,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104865056474999,
                  "longitude" : 14.389364048839001
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 727,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "stairs"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104902043496999,
                  "longitude" : 14.390089586377
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 67,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104886130479997,
                  "longitude" : 14.390073493122999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 728,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "stairs"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105314371041999,
                  "longitude" : 14.389629752274001
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 70,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105330402737998,
                  "longitude" : 14.389602765440999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 132,
              "name" : "T9:351",
              "room" : "T9:351",
              "toFloor" : null,
              "type" : "auditorium"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105315780095999,
                  "longitude" : 14.389742240309999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 133,
              "name" : "T9:348",
              "room" : "T9:348",
              "toFloor" : null,
              "type" : "lecture"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105294634453003,
                  "longitude" : 14.389708561303999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 73,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105276212924998,
                  "longitude" : 14.389806613326
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 74,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "lecture"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105255582632999,
                  "longitude" : 14.389782550631001
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 75,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105252558621999,
                  "longitude" : 14.389850199223
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 76,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "lecture"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105163962403999,
                  "longitude" : 14.390015825629
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 77,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "lecture"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105102926092997,
                  "longitude" : 14.390066781322
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 78,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105120094311999,
                  "longitude" : 14.390089586377
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 79,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "lecture"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105061757818,
                  "longitude" : 14.390142815471
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 80,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105083967618,
                  "longitude" : 14.390167370439
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 81,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "lecture"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105024186481998,
                  "longitude" : 14.390217661857999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 82,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "office"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.1050542921,
                  "longitude" : 14.39020358026
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 83,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "office"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105011723118999,
                  "longitude" : 14.390151292977
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 84,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104997951572003,
                  "longitude" : 14.390178099274999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 85,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "office"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104983693157997,
                  "longitude" : 14.390116489401001
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 86,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104972576808002,
                  "longitude" : 14.390136525035
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 87,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "office"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104958789413999,
                  "longitude" : 14.390080879474
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 88,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104945911788001,
                  "longitude" : 14.390099644660999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 89,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "office"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104905054066997,
                  "longitude" : 14.390023872256
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 90,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "office"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104977351861002,
                  "longitude" : 14.389948202377999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 91,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104956233732999,
                  "longitude" : 14.389917254447999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 256,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "office"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105022036080001,
                  "longitude" : 14.389809295535001
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 93,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "office"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104995913506002,
                  "longitude" : 14.389508063849
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 94,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104967845918999,
                  "longitude" : 14.389553815126
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 257,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "office"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104884410152998,
                  "longitude" : 14.389409646392
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 96,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "office"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104916466473,
                  "longitude" : 14.389363732705
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 97,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104898602844997,
                  "longitude" : 14.389341250061999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 98,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "office"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104961844519003,
                  "longitude" : 14.389276168626999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 101,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104944621545002,
                  "longitude" : 14.389258101583
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 102,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "office"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104986497764003,
                  "longitude" : 14.389228860771
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 103,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.104968276000001,
                  "longitude" : 14.389207810163001
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 104,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "office"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105010138303001,
                  "longitude" : 14.389213635471
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 105,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105023326321003,
                  "longitude" : 14.389179646969
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 106,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "lecture"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105055529406997,
                  "longitude" : 14.389275680368
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 107,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105067194500997,
                  "longitude" : 14.389243349433
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 108,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "lecture"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105099280353002,
                  "longitude" : 14.389335470784999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 109,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105114933358003,
                  "longitude" : 14.389307722449001
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 110,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "lecture"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105139447886998,
                  "longitude" : 14.389350637793999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 111,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "lecture"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105124336400998,
                  "longitude" : 14.389370813820999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 112,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105066334340997,
                  "longitude" : 14.389558508992
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 254,
              "name" : "Zasedačka - ",
              "room" : null,
              "toFloor" : null,
              "type" : "office"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105058240470001,
                  "longitude" : 14.389593955016
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 115,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105236215642996,
                  "longitude" : 14.389485418796999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 116,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "lecture"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105269734282999,
                  "longitude" : 14.389568567653001
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 117,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105285674643,
                  "longitude" : 14.389547780156001
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 118,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "lecture"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105152780345001,
                  "longitude" : 14.389576613902999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 119,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "restroom-women"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105004806219,
                  "longitude" : 14.389895844249001
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 734,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105019455597997,
                  "longitude" : 14.389915913343
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 733,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105184437132003,
                  "longitude" : 14.389764558137999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 333,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105040099454001,
                  "longitude" : 14.389879703522
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 732,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "intersection"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105060743301003,
                  "longitude" : 14.389903843402999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 731,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "stairs"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105204389824998,
                  "longitude" : 14.389728158712
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 729,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "stairs"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105059883141003,
                  "longitude" : 14.389834105967999
                },
              "floor" : "2",
              "fromFloor" : null,
              "id" : 730,
              "name" : null,
              "room" : null,
              "toFloor" : null,
              "type" : "stairs"
            },
            { "building" : "3",
              "coordinates" : { "latitude" : 50.105152780345001,
                  "longitude" : 14.389819353819
                },
              "floor" : "2",
              "fromFloor" : 0,
              "id" : 337,
              "name" : null,
              "room" : null,
              "toFloor" : 3,
              "type" : "elevator"
            }
          ],
        "tiles" : "https://navigator.fit.cvut.cz/maps/data/tiles/1/4"
      }
    ],
  "id" : 1,
  "maxZoom" : 22,
  "minZoom" : 18,
  "name" : "Nová budova",
  "tiles" : "https://navigator.fit.cvut.cz/maps/data/tiles/1",
  "type" : "building"
}
+++++
< 401
+++++
< 404



Neexistujici plany
GET /map/plan/{id}
< 404
< Content-Type: application/json; charset=utf-8
{
  "exception":{
    "message": "Plan not found"
  }
}




Informace o bodu.
GET /map/node/{id}
< 404
< Content-Type: application/json; charset=utf-8
{
  "exception":{
    "message": "Node not found"
  }
}

Informace o bodu.
GET /map/node/1
< 200
< Content-Type: application/json; charset=utf-8
{
  "id" : "1",
  "type" : "room",
  "name" : "KN:E-022",
  "floor": 1,
  "floorName": "KN:E-0**",
  "plan": 1,
  "building": 1,
  "coordinates" : {
    "latitude" : "50.076708",
    "longitude" : "14.417670"
   }
}
+++++
< 401
+++++
< 404


Informace o bodu.
GET /map/node/2
< 200
< Content-Type: application/json; charset=utf-8
{
  "id" : "2",
  "type" : "room",
  "name" : "KN:E-023",
  "floor": 1,
  "floorName": "KN:E-0**",
  "plan": 1,
  "building": 1,
  "coordinates" : {
    "latitude" : "50.076700",
    "longitude" : "14.417570"
   }
}
+++++
< 401
+++++
< 404


Informace o bodu pro marker id.
GET /map/node/marker/{markerId}
< 404
< Content-Type: application/json; charset=utf-8
{
  "exception":{
    "message": "Node not found"
  }
}
+++++
< 400


GET /map/node/marker/2
< 200
< Content-Type: application/json; charset=utf-8
{
  "id" : "9",
  "type" : "intersection",
  "floor": 1,
  "floorName": "KN:E-3**",
  "plan": 1,
  "building": 1,
  "coordinates" : {
    "latitude" : "50.076732",
    "longitude" : "14.417819"
  },
  "marker": {
    "id": 2,
    "angle": 180,
    "type": "floor"
  }
} 
+++++
< 401
+++++
< 404


GET /map/node/marker/3
< 200
< Content-Type: application/json; charset=utf-8
{
  "id" : "8",
  "floor" : 1,
  "plan": 1,
  "building": 1,
        "type" : "intersection",
        "coordinates" : {
          "latitude" : "50.076767",
          "longitude" : "14.418328"
  },
  "marker" : {
            "id": 3,
            "angle": 0,
            "type": "wall"
        }
}
+++++
< 401
+++++
< 404


GET /map/node/marker/4
< 200
< Content-Type: application/json; charset=utf-8
{
  "id" : "7",
  "floor" : 1,
  "plan": 1,
  "building": 1,
  "type" : "intersection",
  "coordinates" : {
    "latitude" : "50.076862",
    "longitude" : "14.418317"
   },
  "marker": {
          "id": 4,
          "angle": -90,
          "type": "wall"
        }
}
+++++
< 401
+++++
< 404


GET /map/node/marker/5
< 200
< Content-Type: application/json; charset=utf-8
{
  "id" : "6",
  "floor" : 1,
  "plan": 1,
  "building": 1,
    "type" : "intersection",
    "coordinates" : {
    "latitude" : "50.076916",
    "longitude" : "14.418316"
  },
  "marker": {
          "id": 5,
          "type": "wall",
          "angle":90
  }
}
+++++
< 401
+++++
< 404


GET /map/node/marker/0
< 200
< Content-Type: application/json; charset=utf-8
 {
    "id" : "11",
    "type" : "entrance",
    "plan": 1,
    "floor" : 0,
    "building": 1,
    "coordinates" : {
      "latitude" : "50.076641",
      "longitude" : "14.417818"
     },
  "marker": {
          "id": 0,
          "type": "floor",
          "angle":0
    }
}
+++++
< 401
+++++
< 404


GET /map/node/marker/1
< 200
< Content-Type: application/json; charset=utf-8
  {
    "id" : "10",
    "type" : "stairs",
    "plan": 1,
    "floor" : 0,
    "building": 1,
    "coordinates" : {
      "latitude" : "50.076748",
      "longitude" : "14.417807"
     },
     "marker": {
          "id": 1,
          "type": "wall",
          "angle":0
    }
  }
+++++
< 401
+++++
< 404


GET /map/node/marker/6
< 200
< Content-Type: application/json; charset=utf-8
  {
    "id" : "5",
    "type" : "room",
    "name" : "KN:E-512",
    "floor": 1,
    "floorName": "KN:E-5**",
    "plan": 1,
    "building": 1,
    "coordinates" : {
      "latitude" : "50.076912",
      "longitude" : "14.418286"
     },
     "marker": {
      "id": 6,
      "type": "floor",
      "angle":0
    }
  }
+++++
< 401
+++++
< 404


GET /map/node/marker/7
< 200
< Content-Type: application/json; charset=utf-8
{
  "id" : "3",
  "type" : "room",
  "name" : "KN:E-024",
  "floor": 1,
  "floorName": "KN:E-0**",
  "plan": 1,
  "building": 1,
  "coordinates" : {
    "latitude" : "50.076685",
    "longitude" : "14.417418"
   },
   "marker": {
    "id": 7,
    "angle": -90,
    "type": "floor"
  }
} 
+++++
< 401
+++++
< 404





Vrací cestu mezi dvěma body formou seznamu identikátoru jednotlivých bodů cesty. Lze volat jen pro cestu mezi dvěma body v rámci jedné budovy.
GET /map/path{?from,to}
< 404
< Content-Type: application/json; charset=utf-8
{
  "exception":{
    "message":"Path between nodes not found."
    }
}
+++++
< 400
+++++
< 401


GET /map/path?from=11&to=5
< 200
< Content-Type: application/json; charset=utf-8
{
  "nodeIds" : [11, 10, 12, 9, 8, 7, 6, 5]
}
+++++
< 400
+++++
< 401


GET /map/path?from=10&to=5
< 200
< Content-Type: application/json; charset=utf-8
{
  "nodeIds" : [10, 12, 9, 8, 7, 6, 5]
}
+++++
< 400
+++++
< 401


GET /map/path?from=12&to=5
< 200
< Content-Type: application/json; charset=utf-8
{
  "nodeIds" : [12, 9, 8, 7, 6, 5]
}
+++++
< 400
+++++
< 401


GET /map/path?from=8&to=5
< 200
< Content-Type: application/json; charset=utf-8
{
  "nodeIds" : [8, 7, 6, 5]
}
+++++
< 400
+++++
< 401


GET /map/path?from=7&to=5
< 200
< Content-Type: application/json; charset=utf-8
{
  "nodeIds" : [7, 6, 5]
}
+++++
< 400
+++++
< 401


GET /map/path?from=6&to=5
< 200
< Content-Type: application/json; charset=utf-8
{
  "nodeIds" : [6, 5]
}
+++++
< 400
+++++
< 401


GET /map/path?from=9&to=5
< 200
< Content-Type: application/json; charset=utf-8
{
  "nodeIds" : [9, 8, 7, 6, 5]
}
+++++
< 400
+++++
< 401


GET /map/path?from=3&to=5
< 200
< Content-Type: application/json; charset=utf-8
{
  "nodeIds" : [3, 2, 1, 9, 8, 7, 6, 5]
}
+++++
< 400
+++++
< 401


GET /map/path?from=2&to=5
< 200
< Content-Type: application/json; charset=utf-8
{
  "nodeIds" : [2, 1, 9, 8, 7, 6, 5]
}
+++++
< 400
+++++
< 401

GET /map/path?from=1&to=5
< 200
< Content-Type: application/json; charset=utf-8
{
  "nodeIds" : [1, 9, 8, 7, 6, 5]
}
+++++
< 400
+++++
< 401

Cesta v nove budove
GET /map/path?from=652&to=133
< 200
< Content-Type: application/json; charset=utf-8
{
  "nodeIds" : [652,698,655,658,679,678,726,337,333,37,75,73,133]
}
+++++
< 400
+++++
< 401

Vrací dlaždici mapového podkladu podle specifikovaného umístění.
GET /map/{idBudovy}/{floor}/{zoom}/{x}/{y}
< 200
< Content-Type: application/json; charset=utf-8
{
  "image" : "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANIAAABkCAYAAADzCm4qAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAGYktHRAD/AP8A/6C9p5MAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfcCQcLOxAUvzyBAAAbWklEQVR42u2deXxldXn/35/MysjAIMmwSMI2UBYFlSKCGxmWcwUECrXITBURQaug95aJQiuoLT8VEn7nqqg/ahGsTmwralV+ek+piSAWQWQRyipbhj3DzsCs+fSPc+69J5mbTG62STLneb3ySnKXc873+T6f77N+ny9kNGLqW97Y1Le8cb+MExk1ZCwYOUl6vaSj3Nl0UMaNDEgZjZTMTODdwHEA7mzMeLKF0syMBaNRScyx+TPkee5smq0lvWszpmQaKaPhKqLOpvKfr5dolrUIOCLjTAakjOpRREt6E8uO7Y23QexheE/GmQxIGdWvlWYL74kTPpr93Nk0L+NMBqSM6oPSTrYORCr7S7sBb8v4kgEpo2FQX+If2doFfJAA2wh2wxwcfyaL3mVAymhohiX+keQ9gT1tkIRhvsV+8WdWZozKgJTRMLTSDqDDYkClghDmDX2djTtnHMqAlNHQAYbyn7sDrUqhSAbkRqHdM05lQMpoCCqHvTEHAHvbroJMANoJ2DfjVAakjDZl1i1v3AOcI/GNBuis7Wx2SQclMsqAlFFt2lfo+BqGH8AcieZ0UCKjDEgZbewj7YB0vPEMC/cz+5BBAI19yxtfl3ErA1JGgwQZbL8Rc6oklKAmjaXEZ5onabuMaxmQMqoRZPDyph2A9yPml+24jT4X+0zzgcxByoCU0SB0sKQzEgippuaKtdZcw9YZuzIgZZRQpRxoedOels8CZkq1tVEKXVsB22bcy4CUUZk5S3pxZ6MQR8h6X+IDaVBfykZoHnbmI2VAyijWRuXCUx0K/iKqlTeq4SOJuZIy0y4DUkZ9yxtpWLISdzbtCj7XaEenyxiGIjMLmJtxMQNSxpSlK/HypnmYpaCTEm2jTWLIYLkBmJFxMQNSRjGdgPx/hnSKagYcJGd8zYCUEfQtbzoGcYXrglCCOAPOeJgBaQsndzYtBv4F2Ep1QiLGkfskNmSczIC05WqizqYA+LHk7RO9onqvIakPMiBlQNqitE9jWQs1uLPpNMEvgG3L2/RGeNm1wGuZaGVA2mJApCUr8fLG7YH/B1yV4seIQJQEyNcAr2SilQFpuvtAFaF3Z9NJFrfZnDmGIYJXgecz0cqANC3BUwaQlvTizqZA4mbjHwntktTPabT3STJNq4GXM9EC8lF9n63n85OMpmQT/bauFtoX99R6fR7i9ZhdjJuQZgJ3q7Xnvr7Oxp3c2XQ+sMSwvZDF2ACoatoZoTWIVYMIywLEgcBC7PUMzPGWK8vFOsw6xFrMS4hezDMUg6rvVShBmBv6gQrRrsD+xIW0"
}
+++++
< 401
+++++
< 404


--
Služby pracující s hromadnou dopravou
Tato sekce služeb zprostředkovává data o dopravních spojeních.
--

Iinformace o nalezených spojení mezi zadanými body v konkrétní čas.
GET /transportation{?from,to,time}
< 200
< Content-Type: application/json; charset=utf-8
{
  "journeys" : [
    {
      "duration" : "00:15",
      "vehicles" : [
        {
          "type" : "bus",
          "identifier" : "143",
          "from" : {
            "id" : 50,
            "name" : "Koleje Strahov",
            "type" : "station",
            "address": "Koleje Strahov"
            "coordinates" : {
              "latitude" : "50.1231",
              "longitude" : "14.1231"
            },
            "planId" : "15"
          },
          "to" : {
            "id" : 55,
            "name" : "Dejvicka",
            "type" : "station",
            "address": "Dejvicka"
            "coordinates" : {
              "latitude" : "50.1231",
              "longitude" : "14.1231"
            },
            "planId" : "11"
          },
          "startTime" : "12:45",
          "endTime" : "13:00"
        }
      ]
    }
  ]
}
+++++
< 401
+++++
< 404


--
Služby pracující s nástěnkou
Tato sekce služeb zprostředkovává práci s nástěnkami.
--
Informace o příspěvkách na nástěnce předmětu. Pokud je specifikován ?date, vrací se jen příspěvky
mladší než toto datum. Pokud datum není specifikováno, vrací se všechny záznamy na nástěnce.
GET /board/{courseCode}{?offset}
< 200
< Content-Type: application/json; charset=utf-8
{
  "boardEntries" : [
    {
      "id" : 1,
      "title": "Title",
      "text": "message",
      "author" : {
        "id" : "1",
        "username" : "peckazde",
        "name" : "Zdeněk Pecka",
        "email" : "peckazde@fit.cvut.cz",
        "type" : "student",
        "year" : "5"
      },
      "eventDate" : 123456789,
      "visible" : "true",
      "weblink": "http://navigator.cz",
      "teachersEntry": true,
      "lastChange" : 123456789
    }
  ]
}
+++++
< 400
+++++
< 401
+++++
< 404


Informace o příspěvkách na nástěnce cvičení konkrétního předmětu. Pokud je specifikován ?date,
vrací se jen příspěvky mladší než toto datum. Pokud datum není specifikováno, vrací se všechny záznamy na nástěnce.
GET /board/{courseCode}/{timeTableEntrIid}{?offset}
< 200
< Content-Type: application/json; charset=utf-8
{
  "boardEntries" : [
    {
      "id" : 1,
      "title": "Title",
      "text": "message",
      "author" : {
        "id" : "1",
        "username" : "peckazde",
        "name" : "Zdeněk Pecka",
        "email" : "peckazde@fit.cvut.cz",
        "type" : "student",
        "year" : "5"
      },
      "eventDate" : 123456789,
      "weblink": "http://navigator.cz",
      "teachersEntry": true,
      "visible" : "true",
      "lastChange" : 123456789
    }
  ]
}
+++++
< 400
+++++
< 401
+++++
< 404


Informace o příspěvkách na všech nástěnkách, které uživatel odebírá. Pokud je specifikován ?date, vrací se 
jen příspěvky mladší než toto datum. Pokud datum není specifikováno, vrací se všechny záznamy na všech nástěnkách.
GET /board/update{?offset}
< 200
< Content-Type: application/json; charset=utf-8
{
  "boards" : [
    {
      "id" : 5,
      "boardEntries" : [
        {
            "id" : 1,
            "title": "Title",
            "text": "message",
            "author" : {
                "id" : "1",
                "username" : "peckazde",
                "name" : "Zdeněk Pecka",
                "email" : "peckazde@fit.cvut.cz",
                "type" : "student",
                "year" : "5"
            },
            "eventDate" : 123456789,
            "visible" : "true",
            "weblink": "http://navigator.cz",
            "teachersEntry": true,
            "lastChange" : 123456789
        }
      ]
    }
  ]
}
+++++
< 400
+++++
< 401
+++++
< 404


Změní příspěvek na nástěnce předmětu. Uživatel může měnit pouze své příspěvky. <messageId> je identifikátor měněného příspěvku.
PUT /board/{courseCode}/{messageId}
> Content-Type: application/json
{
    "id" : 1,
    "title": "Title",
    "text": "message",
    "visible" : "true",
    "weblink": "http://navigator.cz"
}
< 200
+++++
< 400
+++++
< 401
+++++
< 404


Umožňuje přidávat příspěvky na nástěnku předmětu.
POST /board/{courseCode}
> Content-Type: application/json
{
    "title": "Title",
    "text": "message",
    "visible" : "true",
    "weblink": "http://navigator.cz"
}
< 201
+++++
< 400
+++++
< 401
+++++
< 404


Umožňuje přidávat příspěvky na nástěnku cvičení.
POST /board/{courseCode}/{timeTableEntryId}
> Content-Type: application/json
{
    "id" : 1,
    "title": "Title",
    "text": "message",
    "visible" : "true",
    "weblink": "http://navigator.cz" 
}
< 201
+++++
< 400
+++++
< 401
+++++
< 404


Vymazání nástěnky předmětu a všech příspěvků na ní.
DELETE /board/{courseCode}
< 200
+++++
< 400
+++++
< 401


Vymazání nástěnky cvičení a všech příspěvků na ní.
DELETE /board/{courseCode}/{timeTableEntryId}
< 200
+++++
< 400
+++++
< 401


Přehled zablokovaných uživatelských účtů.
GET /board/blockedusers
< 200
< Content-Type: application/json; charset=utf-8
{
  "blockedUsers" : [
    {
        "user": {
            "id" : "1",
            "username" : "peckazde",
            "name" : "Zdeněk Pecka",
            "email" : "peckazde@fit.cvut.cz",
            "type" : "student",
            "year" : "5"
        },
        "blockedUntil": 123456789
    }
  ]
}
+++++
< 400
+++++
< 401


Zjištění jestli je uživatelský účet zablokován.
GET /board/blockedusers/{username}
< 200
< Content-Type: application/json; charset=utf-8
{
  "blocked": true,
  "blockedUntil" : 123456789,
  "reason": "spamer"
}
+++++
< 401
+++++
< 404


Zablokovat uživatelovi účet.
POST /board/blockeuser
> Content-Type: application/json
{
    "user" : "peckazde",
    "blockedUntil" : 123456789 
}
< 201
+++++
< 400
+++++
< 401
+++++
< 404


Odblokování uživatelského účtu.
DELETE /board/blockedusers/{username}
< 200
+++++
< 400
+++++
< 401
+++++
< 404


Žádost o zablokování uživatelského účtu.
POST /board/blockrequest
> Content-Type: application/json
{
    "message" : "Spammer",
    "user" : "peckazde",
    "author" : "skalamic"
}
< 201
+++++
< 400
+++++
< 401
+++++
< 404


Zobrazení všech žádostí o zablokování.
GET /board/blockrequests
< 200
< Content-Type: application/json; charset=utf-8
{
  "blockRequests" : [
    {
        "id" : 10,
        "message" : "Spammer",
        "user": {
            "id" : "1",
            "username" : "peckazde",
            "name" : "Zdeněk Pecka",
            "email" : "peckazde@fit.cvut.cz",
            "type" : "student",
            "year" : "5"
        },
        "author": {
            "id" : "2",
            "username" : "skalamic",
            "name" : "Michal Skala",
            "email" : "skalamic@fit.cvut.cz",
            "type" : "student",
            "year" : "5"
        }
    }
  ]
}
+++++
< 400
+++++
< 401


Smazání žádosti o zablokování účtu.
DELETE /board/blockrequests/{blockRequestId}
< 200
+++++
< 400
+++++
< 401
+++++
< 404


Žádost o odblokování uživatelského účtu.
POST /board/unblockrequest
> Content-Type: application/json
{
    "message" : "Už se uklidnil",
    "user" : "peckazde",
    "author" : "skalamic"
}
< 201
+++++
< 400
+++++
< 401
+++++
< 404


Seznam všech žádostí o odblokování.
GET /board/unblockrequests
< 200
< Content-Type: application/json; charset=utf-8
{
  "unblockRequests" : [
    {
        "id" : 10,
        "message" : "Už se uklidnil",
        "user": {
            "id" : "1",
            "username" : "peckazde",
            "name" : "Zdeněk Pecka",
            "email" : "peckazde@fit.cvut.cz",
            "type" : "student",
            "year" : "5"
        },
        "author": {
            "id" : "2",
            "username" : "skalamic",
            "name" : "Michal Skala",
            "email" : "skalamic@fit.cvut.cz",
            "type" : "student",
            "year" : "5"
        }
    }
  ]
}
+++++
< 400
+++++
< 401


Smazání žádosti o odblokování uživatelského účtu.
DELETE /board/unblockrequests/{unblockRequestId}
< 200
+++++
< 400
+++++
< 401
+++++
< 404


--
Služby pracující s harmonogramem
Tato sekce služeb zprostředkovává práci s harmonogramem.
--
Informace o harmonogramu předmětu.
GET /schedule/{course_code}
< 200
< Content-Type: application/json; charset=utf-8
{
  "entries": [
    {
        "id": 10,
        "entryDate": 123456789,
        "title": "pisemka",
        "importToMsgboard": true
    }
  ]
}
+++++
< 401
+++++
< 404


Informace o harmonogramu cvičení.
GET /schedule/{course_code}/{timeTableEntry_id}
< 200
< Content-Type: application/json; charset=utf-8
{
  "entries": [
    {
        "id": 10,
        "entryDate": 123456789,
        "title": "pisemka",
        "importToMsgboard": true
    }
  ]
}
+++++
< 401
+++++
< 404


Umožňuje přidávat záznamy do harmonogramu předmětu. 
POST /schedule/{course_code}
> Content-Type: application/json
{
    "entryDate": 123456789,
    "title": "pisemka",
    "importToMsgboard": true
}
< 201
+++++
< 400
+++++
< 401
+++++
< 404


Umožňuje přidávat záznamy do harmonogramu cvičení. 
POST /schedule/{course_code}/{timeTableEntry_id}
> Content-Type: application/json
{
    "entryDate": 123456789,
    "title": "pisemka",
    "importToMsgboard": true
}
< 201
+++++
< 400
+++++
< 401
+++++
< 404
