HOST: http://navigator.fit.cvut.cz/

--- CVUT Navigator ---
---
Specifikace API pro ČVUT Navigátor
---
--
Info
--
Informace o aktuálním výukovém týdnu
GET /info
< 200
< Content-Type: application/json; charset=utf-8
{
    "week" : {"number" : 1, "type": "even"}
}
+++++
< 401


Informaci o identifikovaném typu zařízení. Podle identifikovaného typu zařízení, budou poskytována pouze relevantní data pro toto zařízení.
GET /identify{?type}
< 200
< Content-Type: application/json; charset=utf-8
{
  "identifier" : "ios",
  "type" : "iOS"
}
+++++
< 400
+++++
< 401


--
Služby pracující s KOSem
Tato sekce služeb zprostředkovává data ze studentského informačního systému KOS
--
Informace o předmětu, kde {code} je kód předmětu
GET /kos/course/{code}
< 200
< Content-Type: application/json; charset=utf-8
{
    "id" : "1",
    "code" : "MI-BPR",
    "name" : "Bezpečnost a bezpečné programování",
    "web" : "https://edux.fit.cvut.cz/courses/MI-BPR/"
}
+++++
< 401
+++++
< 404


Informace o osobě, kde {username} je uživatelské jméno osoby.
GET /kos/person/{username}
< 200
< Content-Type: application/json; charset=utf-8
{
    "id" : "1",
    "username" : "peckazde",
    "name" : "Zdeněk Pecka",
    "email" : "peckazde@fit.cvut.cz",
    "type" : "student",
    "year" : "5"
}
+++++
< 401
+++++
< 404


Informace o rozvrhu osoby specifikovane {username}.
GET /kos/person/{username}/timetable
< 200
< Content-Type: application/json; charset=utf-8
{ 
  "timetableEntries": [
    {
      "id" : "1",
      "day": "monday",
      "parity" : "even",
      "time" : "11:00",
      "length" : "90",
      "type" : "lecture",
      "room" : {
        "id" : "126",
        "type" : "room",
        "name" : "T9:349",
        "coordinates" : {
          "latitude" : "50.1231",
          "longitude" : "14.1231"
         },
         "markerId" : 10
       },
      "course" : {
        "id" : "10",
        "code" : "MI-BPR",
        "name" : "Bezpečnost a bezpečné programování",
        "web" : "https://edux.fit.cvut.cz/courses/MI-BPR/"
      },
      "teacher" : {
        "id" : "10",
        "username" : "zahradni",
        "name" : "Ing. Tomáš Zahradnický, Ph.D.",
        "email" : "zahradni@fit.cvut.cz",
        "type" : "teacher"
      }
    },
    {
      "id" : "2",
      "day": "tuesday",
      "parity" : "both",
      "time" : "12:45",
      "length" : "90",
      "type" : "practice",
      "room" : {
        "id" : "127",
        "type" : "room",
        "name" : "T9:350",
        "coordinates" : {
          "latitude" : "50.1231",
          "longitude" : "14.1231"
         },
         "markerId" : 11
       },
      "course" : {
        "id" : "11",
        "code" : "BI-IOS",
        "name" : "Základy programování v iOS",
        "web" : "https://edux.fit.cvut.cz/courses/BI-IOS/"
      },
      "teacher" : {
        "id" : "11",
        "username" : "gattejos",
        "name" : "Ing. Josef Gattermayer",
        "email" : "gattejos@fit.cvut.cz",
        "type" : "teacher"
      }
    }
  ]
}
+++++
< 401
+++++
< 404


--
Služby pracující s mapovými podklady
Tato sekce služeb zprostředkovává data, pro práci s mapovými podklady
--

Všechny POI pro zobrazení na mapě. 
GET /map/pois/
< 200
< Content-Type: application/json; charset=utf-8
{
"pois": [
  {
    "id" : 1,
    "name" : "FEL Karlovo náměstí",
    "type" : "building",
    "coordinates" : {
      "latitude" : "50.076866",
      "longitude" : "14.417839"
    },
    "planId" : "1"
  }
]
}
+++++
< 401
+++++
< 404

POI pro zobrazení na mapě podle typu. Jednotlivé typy oddělené čárkou.
GET /map/pois/{types}
< 200
< Content-Type: application/json; charset=utf-8
{
"pois": [
  {
    "id" : 1,
    "name" : "FEL Karlovo náměstí",
    "type" : "building",
    "coordinates" : {
      "latitude" : "50.076866",
      "longitude" : "14.417839"
    },
    "planId" : "1"
  }
]
}
+++++
< 401
+++++
< 404



Informace o POI.
GET /map/poi/{id}
< 200
< Content-Type: application/json; charset=utf-8
{
    "id" : 1,
    "name" : "FEL Karlovo náměstí",
    "type" : "building",
    "coordinates" : {
      "latitude" : "50.076866",
      "longitude" : "14.417839"
    },
    "planId" : "1"
}
+++++
< 401
+++++
< 404


Informace o plánu budovy, včetně podrobných informací o všech jeho bodech.
GET /map/plan/{id}
< 200
< Content-Type: application/json; charset=utf-8
{
  "id" : "456",
  "name" : "FIT Dejvice",
  "date" : 123456789,
  "tiles" : "http://navigator.cvut.cz/data/map/plan/456.zip",
  "floors" : [
    {
      "floor" : "1",
      "constraints" : 
      {
        "southWest":
        {
          "latitude": 50.076534 ,
          "longitude": 14.417152
        },
        "northEast":
        {
          "latitude": 50.077194,
          "longitude": 14.418526
        }
      },
      "nodes" : [
      {
        "id" : "123",
        "type" : "crossroad",
        "coordinates" : {
          "latitude" : "50.1231",
          "longitude" : "14.1231"
         },
        "markerId" : 1
      },
      {
        "id" : "124",
        "type" : "stairs",
        "coordinates" : {
          "latitude" : "50.1231",
          "longitude" : "14.1231"
         },
        "toFloor" : "2",
        "markerId" : 2
      },
      {
        "id" : "125",
        "type" : "entrance",
        "coordinates" : {
          "latitude" : "50.1231",
          "longitude" : "14.1231"
        },
        "markerId" : 3
      },
      {
        "id" : "126",
        "type" : "room",
        "name" : "T9:155",
        "coordinates" : {
          "latitude" : "50.1231",
          "longitude" : "14.1231"
         },
         "markerId" : 10
      } 
      ]
    }
  ]
}
+++++
< 401
+++++
< 404

/*
  INSERT INTO node VALUES(1,'KN:E-022','room',50076708,14417670,0,0,0,1);
INSERT INTO node VALUES(2,'KN:E-023','room',50076700,14417570,0,0,0,1);
INSERT INTO node VALUES(3,'KN:E-024','room',50076685,14417418,0,0,0,1);
INSERT INTO node VALUES(4,'KN:E-126','room',50076715,14417810,1,0,0,1);
*/

FEL Karlovo náměstí
GET /map/plan/1
< 200
< Content-Type: application/json; charset=utf-8
{
  "id" : "1",
  "name" : "FEL Karlovo náměstí",
  "date" : 123456789,
  "tiles" : "http://navigator.cvut.cz/data/map/plan/1.zip",
  "floors" : [
    {
      "floor" : "1",
      "constraints" : 
      {
        "southWest":
        {
          "latitude": 50.076534 ,
          "longitude": 14.417152
        },
        "northEast":
        {
          "latitude": 50.077194,
          "longitude": 14.418526
        }
      },
      "nodes" : [
      {
        "id" : "1",
        "type" : "room",
        "name" : "KN:E-022",
        "coordinates" : {
          "latitude" : "50.076708",
          "longitude" : "14.417670"
         },
        "markerId" : 1
      },
      {
        "id" : "2",
        "type" : "room",
        "name" : "KN:E-023",
        "coordinates" : {
          "latitude" : "50.076700",
          "longitude" : "14.417570"
         },
        "markerId" : 2
      },
      ,
      {
        "id" : "3",
        "type" : "room",
        "name" : "KN:E-024",
        "coordinates" : {
          "latitude" : "50.076685",
          "longitude" : "14.417418"
         },
        "markerId" : 3
      },
      {
        "id" : "4",
        "type" : "room",
        "name" : "KN:E-126",
        "coordinates" : {
          "latitude" : "50.076715",
          "longitude" : "14.417810"
         },
        "markerId" : 4
      }
      ]
    }
  ]
}
+++++
< 401
+++++
< 404


Informace o bodu.
GET /map/node/{id}
< 200
< Content-Type: application/json; charset=utf-8
{
    "id" : "126",
    "type" : "room",
    "name" : "T9:155",
    "coordinates" : {
        "latitude" : "50.1231",
        "longitude" : "14.1231"
        },
    "floor" : 1,
    "markerId" : 10
} 
+++++
< 401
+++++
< 404


Vrací cestu mezi dvěma body formou seznamu identikátoru jednotlivých bodů cesty. Lze volat jen pro cestu mezi dvěma body v rámci jedné budovy.
GET /map/path{?from,to}
< 200
< Content-Type: application/json; charset=utf-8
{
  "nodeIds" : [123, 124, 125, 256, 257, 358, 456]
}
+++++
< 400
+++++
< 401


Informace o budově určené pomocí číselného identifikátoru. Vrací jméno a výšku budovy.
GET /map/building/{idBudovy}
< 200
< Content-Type: application/json; charset=utf-8
{
  "id" : "1",
  "name" : "FIT Dejvice",
  "height" : "50"
}
+++++
< 401
+++++
< 404


Vrací dlaždici mapového podkladu podle specifikovaného umístění.
GET /map/{idBudovy}/{floor}/{zoom}/{x}/{y}
< 200
< Content-Type: application/json; charset=utf-8
{
  "image" : "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANIAAABkCAYAAADzCm4qAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAGYktHRAD/AP8A/6C9p5MAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAHdElNRQfcCQcLOxAUvzyBAAAbWklEQVR42u2deXxldXn/35/MysjAIMmwSMI2UBYFlSKCGxmWcwUECrXITBURQaug95aJQiuoLT8VEn7nqqg/ahGsTmwralV+ek+piSAWQWQRyipbhj3DzsCs+fSPc+69J5mbTG62STLneb3ySnKXc873+T6f77N+ny9kNGLqW97Y1Le8cb+MExk1ZCwYOUl6vaSj3Nl0UMaNDEgZjZTMTODdwHEA7mzMeLKF0syMBaNRScyx+TPkee5smq0lvWszpmQaKaPhKqLOpvKfr5dolrUIOCLjTAakjOpRREt6E8uO7Y23QexheE/GmQxIGdWvlWYL74kTPpr93Nk0L+NMBqSM6oPSTrYORCr7S7sBb8v4kgEpo2FQX+If2doFfJAA2wh2wxwcfyaL3mVAymhohiX+keQ9gT1tkIRhvsV+8WdWZozKgJTRMLTSDqDDYkClghDmDX2djTtnHMqAlNHQAYbyn7sDrUqhSAbkRqHdM05lQMpoCCqHvTEHAHvbroJMANoJ2DfjVAakjDZl1i1v3AOcI/GNBuis7Wx2SQclMsqAlFFt2lfo+BqGH8AcieZ0UCKjDEgZbewj7YB0vPEMC/cz+5BBAI19yxtfl3ErA1JGgwQZbL8Rc6oklKAmjaXEZ5onabuMaxmQMqoRZPDyph2A9yPml+24jT4X+0zzgcxByoCU0SB0sKQzEgippuaKtdZcw9YZuzIgZZRQpRxoedOels8CZkq1tVEKXVsB22bcy4CUUZk5S3pxZ6MQR8h6X+IDaVBfykZoHnbmI2VAyijWRuXCUx0K/iKqlTeq4SOJuZIy0y4DUkZ9yxtpWLISdzbtCj7XaEenyxiGIjMLmJtxMQNSxpSlK/HypnmYpaCTEm2jTWLIYLkBmJFxMQNSRjGdgPx/hnSKagYcJGd8zYCUEfQtbzoGcYXrglCCOAPOeJgBaQsndzYtBv4F2Ep1QiLGkfskNmSczIC05WqizqYA+LHk7RO9onqvIakPMiBlQNqitE9jWQs1uLPpNMEvgG3L2/RGeNm1wGuZaGVA2mJApCUr8fLG7YH/B1yV4seIQJQEyNcAr2SilQFpuvtAFaF3Z9NJFrfZnDmGIYJXgecz0cqANC3BUwaQlvTizqZA4mbjHwntktTPabT3STJNq4GXM9EC8lF9n63n85OMpmQT/bauFtoX99R6fR7i9ZhdjJuQZgJ3q7Xnvr7Oxp3c2XQ+sMSwvZDF2ACoatoZoTWIVYMIywLEgcBC7PUMzPGWK8vFOsw6xFrMS4hezDMUg6rvVShBmBv6gQrRrsD+xIW0"
}
+++++
< 401
+++++
< 404


--
Služby pracující s hromadnou dopravou
Tato sekce služeb zprostředkovává data o dopravních spojeních.
--

Iinformace o nalezených spojení mezi zadanými body v konkrétní čas.
GET /transportation{?from,to,time}
< 200
< Content-Type: application/json; charset=utf-8
{
  "journeys" : [
    {
      "duration" : "00:15",
      "vehicles" : [
        {
          "type" : "bus",
          "identifier" : "143",
          "from" : {
            "id" : 50,
            "name" : "Koleje Strahov",
            "type" : "station",
            "coordinates" : {
              "latitude" : "50.1231",
              "longitude" : "14.1231"
            },
            "planId" : "15"
          },
          "to" : {
            "id" : 55,
            "name" : "Dejvicka",
            "type" : "station",
            "coordinates" : {
              "latitude" : "50.1231",
              "longitude" : "14.1231"
            },
            "planId" : "11"
          },
          "startTime" : "12:45",
          "endTime" : "13:00"
        }
      ]
    }
  ]
}
+++++
< 401
+++++
< 404


--
Služby pracující s nástěnkou
Tato sekce služeb zprostředkovává práci s nástěnkami.
--
Informace o příspěvkách na nástěnce předmětu. Pokud je specifikován ?date, vrací se jen příspěvky
mladší než toto datum. Pokud datum není specifikováno, vrací se všechny záznamy na nástěnce.
GET /board/{courseCode}{?date}
< 200
< Content-Type: application/json; charset=utf-8
{
  "id" : 5,
  "boardEntries" : [
    {
      "id" : 1,
      "user" : {
        "id" : "1",
        "username" : "peckazde",
        "name" : "Zdeněk Pecka",
        "email" : "peckazde@fit.cvut.cz",
        "type" : "student",
        "year" : "5"
      },
      "time" : 123456789,
      "entry" : "Tohle je zprava"  
    }
  ]
}
+++++
< 400
+++++
< 401
+++++
< 404


Informace o příspěvkách na nástěnce cvičení konkrétního předmětu. Pokud je specifikován ?date,
vrací se jen příspěvky mladší než toto datum. Pokud datum není specifikováno, vrací se všechny záznamy na nástěnce.
GET /board/{courseCode}/{timeTableEntrIid}{?date}
< 200
< Content-Type: application/json; charset=utf-8
{
  "id" : 5,
  "boardEntries" : [
    {
      "id" : 1,
      "user" : {
        "id" : "1",
        "username" : "peckazde",
        "name" : "Zdeněk Pecka",
        "email" : "peckazde@fit.cvut.cz",
        "type" : "student",
        "year" : "5"
      },
      "time" : 123456789,
      "entry" : "Tohle je zprava"  
    }
  ]
}
+++++
< 400
+++++
< 401
+++++
< 404


Informace o příspěvkách na všech nástěnkách, které uživatel odebírá. Pokud je specifikován ?date, vrací se 
jen příspěvky mladší než toto datum. Pokud datum není specifikováno, vrací se všechny záznamy na všech nástěnkách.
GET /board/update{?date}
< 200
< Content-Type: application/json; charset=utf-8
{
  "boards" : [
    {
      "id" : 5,
      "boardEntries" : [
        {
          "id" : 1,
          "user" : {
            "id" : "1",
            "username" : "peckazde",
            "name" : "Zdeněk Pecka",
            "email" : "peckazde@fit.cvut.cz",
            "type" : "student",
            "year" : "5"
          },
          "time" : 123456789,
          "entry" : "Tohle je zprava"  
        }
      ]
    }
  ]
}
+++++
< 400
+++++
< 401
+++++
< 404


Změní příspěvek na nástěnce předmětu. Uživatel může měnit pouze své příspěvky. <messageId> je identifikátor měněného příspěvku.
PUT /board/{courseCode}/{messageId}
> Content-Type: application/json
{
    "id" : 1,
    "user" : {
        "id" : "1",
        "username" : "peckazde",
        "name" : "Zdeněk Pecka",
        "email" : "peckazde@fit.cvut.cz",
        "type" : "student",
        "year" : "5"
        },
    "time" : 123456789,
    "entry" : "Tohle je zprava"  
}
< 200
+++++
< 400
+++++
< 401
+++++
< 404


Změní příspěvek na nástěnce cvičení. Uživatel může měnit pouze své příspěvky. <messageId> je identifikátor měněného příspěvku.
PUT /board/{courseCode}/{timeTableEntrIid}/{messageId}
> Content-Type: application/json
{
    "id" : 1,
    "user" : {
        "id" : "1",
        "username" : "peckazde",
        "name" : "Zdeněk Pecka",
        "email" : "peckazde@fit.cvut.cz",
        "type" : "student",
        "year" : "5"
        },
    "time" : 123456789,
    "entry" : "Tohle je zprava"  
}
< 200
+++++
< 400
+++++
< 401
+++++
< 404


Umožňuje přidávat příspěvky na nástěnku předmětu.
POST /board/{courseCode}
> Content-Type: application/json
{
    "id" : 1,
    "user" : {
        "id" : "1",
        "username" : "peckazde",
        "name" : "Zdeněk Pecka",
        "email" : "peckazde@fit.cvut.cz",
        "type" : "student",
        "year" : "5"
        },
    "time" : 123456789,
    "entry" : "Tohle je zprava"  
}
< 201
+++++
< 400
+++++
< 401
+++++
< 404


Umožňuje přidávat příspěvky na nástěnku cvičení.
POST /board/{courseCode}/{timeTableEntryId}
> Content-Type: application/json
{
    "id" : 1,
    "user" : {
        "id" : "1",
        "username" : "peckazde",
        "name" : "Zdeněk Pecka",
        "email" : "peckazde@fit.cvut.cz",
        "type" : "student",
        "year" : "5"
        },
    "time" : 123456789,
    "entry" : "Tohle je zprava"  
}
< 201
+++++
< 400
+++++
< 401
+++++
< 404
